#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config APP_FOCUS
    bool
    default n
    ---help---
        Enable the app focus module

config DBUS_HELPER_LIBRARY
    bool "D-Bus helper library"
    default n
    depends on LIB_DBUS && LIB_GLIB
    ---help---
        Enable the D-Bus helper library
