#
# Copyright (C) 2020 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config KVDB
	tristate "key-value database"
	default n
	select UNQLITE

if KVDB

config KVDB_PRIORITY
	int "task priority"
	default 100

config KVDB_STACKSIZE
	int "stack size"
	default 4096

config KVDB_SERVER
	bool "KVDB server"
	default n

config KVDB_SERVER_CPUNAME
	string "which cpu kvdb server runs on"
	depends on !KVDB_SERVER
	default "ap"

config KVDB_TIMEOUT_INTERVAL
	int "transaction timeout interval(sec)"
	default 0

if KVDB_SERVER

config KVDB_COMMIT_INTERVAL
	int "commit time interval(sec)"
	default 5

config KVDB_PERSIST_PATH
	string "persistent database path"
	default "/data/persist.db"

config KVDB_SOURCE_PATH
	string "database default value source path"
	default "/etc/build.prop"

endif # !KVDB_SERVER

endif # KVDB
